/******************************************** ESTILOS GENERALES ********************************************/
* {
  /*el ancho y la altura de los elementos incluirán el contenido, el padding y el borde, pero no el margen.*/
  box-sizing: border-box;
  background-color: rgba(243, 245, 252, 1);
  /*Define la fuente de todos los textos*/
  font-family: 'Inter';
  font-size: 23px;
  font-weight: 300;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/******************************************** HEADER ********************************************/
header {
  /*ocupe el 100% del ancho del viewport.*/
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.253);
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: transparent;
}

.logo img {
  background-color: transparent;
}

.logo img:hover {
  transform: scale(1.1);
  transition: 350ms ease;
}

header div {
  border: 2px solid black;
}


/******************************************** MAIN ********************************************/
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.seccion-izquierda {
  /*que ocupe el 50% del ancho del main (elemento que lo contiene)*/
  width: 55%;
  display: flex;
  flex-direction: column;
}

.seccion-derecha {
  display: flex;
  flex-direction: column;
  position: relative;
}

textarea {
  border-radius: 15px;
  outline: none;
  border: none;
  resize: none;
  padding: 10px;
  box-shadow: 0px 0px 56px -14px rgba(0, 0, 0, 0.15);
}

.input-usuario {
  height: 100%;
}

.mensaje-advertencia {
  color: #495057;
  background-color: transparent;
  font-size: 18px;
}

.contenedor-botones {
  display: flex;
  margin-top: 18px;
}

.btn-encriptar {
  background-color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  padding: 5px 40px;
  margin: 0 3%;
}

.btn-desencriptar {
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  padding: 5px 40px;
  margin: 0 3%;
}

.contenedor-muñeco {
  position: absolute;
  /*position: absolute, para que el elemento se posicione por fuera del flujo normal de la página y
  en relación al elemento contenedor section*/
  top: 99px;
  left: 32px;
  height: 109px;
  width: 222px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /*z-index: 1, significa que el elemento se superpone*/
  background-color: transparent;
}

.contenedor-muñeco img {
  width: 100%;
  background-color: transparent;
}


.contenedor-muñeco p {
  font-size: 16px;
  text-align: center;
  padding: 3%;
  background-color: white;
}

.output-usuario {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
}

.btn-copiar {
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  padding: 5px 40px;
  margin-top: 18px;
}

.btn-efecto:hover {
  transform: scale(1.05);
  transition: 250ms ease;
}

/******************************************** FOOTER ********************************************/

footer {
  width: 100%;
  background-color: #18185a;
  border-top: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor-iconos {
  padding: 10px;
  background-color: transparent;
}

.derechos-de-autor {
  background-color: transparent;
  font-size: 15px;
  color: white;
  padding: 10px;
}